w<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gForum</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script type="text/javascript" src="/scripts/script.js" defer></script>
      <link rel="stylesheet" href="./style/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Mada|Six+Caps|Grand+Hotel" rel="stylesheet">
      <link rel="shortcut icon" href="/titlepic.jpeg">
      <link rel="apple-touch-icon" href="/titlepic.jpeg">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
<ul class = "navbar" style="list-style: none;">
  <li><span class = "smallLogo">gForum</li>
  <li><a class="active" href="/">BACK</a></li>
</ul>
<body class = "homepageBody">
    <div id = "aboutContent2">
      <p id = "gForum">About Us</p>
      <p id = "standardBody3"><b>gForum</b> was developed so those learning software engineering in a group environment would have a better way to share resources in a more organized manner. It was also developed to help remind students to have a growth mindset, and to expose them to recent tech news to have an even more successfull time during their journey to "Level-Up".</p>
      <img src = "../photos/galvanize.jpg" class="galvanizePhoto">
      <p id = "standardBody3">Developed at Galvanize Phoenix - The Learing Community for Technology - by <i>g66</i> students</p>
      <p id = "standardBody3"><b>This application is not associated with Galvanize, Inc.</b></p>
      <div>

        <p id = "gforum">Meet the Team</p>
          <ul class="flex-container2">
            <li class="flex-item2">
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');" >
                  <div class="flipper">
                    <div class="front">
                      <p id = 'cardOwner'>Austin Gohde</p>
                      <img src="../photos/austin.jpg"  width="300px" class = 'aboutUsPics'>
                    </div>
                    <div class="back">
                      <p id = 'cardOwner2'>Austin Gohde</p>
                      <p id = 'standardBody'><a href = "https://www.linkedin.com/in/austin-gohde/">LinkedIn</a></p>
                      <p id = 'standardBody'><a href = "mailto:char.anne.spencer@gmail.com">E-Mail : austin.gohde@gmail.com</a></p>
                    </div>
                  </div>
                </div>
              </li>
                <li class="flex-item2">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    	<div class="flipper">
                    		<div class="front">
                          <p id = 'cardOwner'>Charlotte Anne Spencer</p>
                          <img src="./photos/char.png" width="300px" class = 'aboutUsPics'>
                    		</div>
                    		<div class="back">
                          <p id = 'cardOwner2'>Charlotte Anne Spencer</p>
                          <p id = 'standardBody'><a href = "https://www.linkedin.com/in/charlotte-anne-spencer/">LinkedIn</a></p>
                          <p id = 'standardBody'><a href = "mailto:char.anne.spencer@gmail.com">E-Mail : char.anne.spencer@gmail.com</a></p>
                        </div>
                    	</div>
                    </div>
                  </li>
                  <li class="flex-item2">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      	<div class="flipper">
                      		<div class="front">
                            <p id = 'cardOwner'>Trevor Young</p>
                            <img src="./photos/trevor.jpg" width="300px" class = 'aboutUsPics'>
                      		</div>
                      		<div class="back">
                            <p id = 'cardOwner2'>Trevor Young</p>
                            <p id = 'standardBody'><a href = "https://www.linkedin.com/in/trevor-young-67468243/">LinkedIn</a></p>
                            <p id = 'standardBody'><a href = "mailto:tcyoung4@asu.edu">E-Mail : tcyoung4@asu.edu</a></p>
                          </div>
                      	</div>
                      </div>
                    </li>
        </div>
        <i><p id = "standardBodyPulsate"><b><a href = "/register" class = "link"><b>Sign Up</b></a> or <a href = "/" class = "link"><b>Sign In</b></a> to Get Started!</p></i>
        <br>
        <br>
        <p id = "standardBody2">Suggestions for new subjects, features, or UI/UX? Technical issues? Email anyone on the team above and submit your request!</p>
        <br>
      </div>
    </div>
<ul class = "footer" style="list-style: none;">
  <li><p id="footerText" >&copy; 2017 gForum - By g66: Austin Gohde | Charlotte Anne Spencer | Trevor Young</p></li>
</ul>

</body>
</html>
