<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gForum</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="homepage.js" defer></script>
      <link rel="stylesheet" href="/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Mada|Six+Caps|Grand+Hotel" rel="stylesheet">
      <link rel="stylesheet" href="css/animations.css" type="text/css">
      <link rel="shortcut icon" href="/titlepic.jpeg">
      <link rel="apple-touch-icon" href="/titlepic.jpeg">
  </head>
<ul class = "navbar" style="list-style: none;">
  <li><a class="active" href="https://www.galvanize.com/phoenix">GALVANIZE</a></li>
  <li><a class="active" href="https://learn.galvanize.com/">LEARN</a></li>
  <li><a class="active" href="https://members.galvanize.com/">MEMBER</a></li>
  <li><a class="active" href="https://talent.galvanize.com/">TALENT</a></li>
  <li><a class="active" href="https://gstudents.slack.com/">SLACK</a></li>
  <li><a class="active" href="https://github.com/">GITHUB</a></li>
  <li><a class="active" href="https://trello.com/">TRELLO</a></li>
</ul>
<body class = "homepageBody">
  <div class = 'container'>
    <div id = "aboutContent">
      <p id = "standardBody">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat c</p>
      <p id = "standardBody">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat c</p>
      <br>
      <p id = "quoteTitle"> Growth Mindset - Quote of the Day:</p>
      <p id = "quoteText"><i><b>PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE PLACE HOLDER FOR QUOTE wsdsdf dsf dsgf sgf dgf xksdfjodshfsdgohodshgosdhg psidhfgoidshgoisdhgodsihg</b></i></p>
    </div>
    <br>
    <div id = "logInContent">
      <img src = "/galvanize.png" width="200px;">
      <br>
      <p id = "logoTitleMain">gForum</p>
      <p id = "logoSubTitle">For All Things Interesting and Helpful</p>
      <h2 id = "">Login</h2>
      <form action="/login" method="post" id = "">
        	<input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <button type="submit" class="btn btn-primary btn-block btn-large">Let me in!</button>
        </form>
        <p id = "standardBody">Not a Member? <a href = "/register" class = "link"><b>Sign Up</b></a></p>
    </div>
    </div>
  </div>
</body>
</html>
