<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gForum</title>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="homepage.js" defer></script>
      <link rel="stylesheet" href="../public/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Mada|Six+Caps|Grand+Hotel" rel="stylesheet">
      <link rel="stylesheet" href="css/animations.css" type="text/css">
  </head>
<body class = "overviewBody">
  <ul class = "navbar" style="list-style: none;">
    <li><a class="active" href="/register">GALVANIZE</a></li>
    <li><a class="active" href="/register">LEARN</a></li>
    <li><a class="active" href="/register">MEMBER</a></li>
    <li><a class="active" href="/register">TALENT</a></li>
    <li><a class="active" href="/register">SLACK</a></li>
    <li><a class="active" href="/register">GITHUB</a></li>
    <li><a class="active" href="/register">TRELLO</a></li>
  </ul>
  <div class = "sectionDiv">
  <p id = "logoTitleMain">Welcome, ____!</p>
  </div>
  <div class = "sectionDiv">
  <p id = "logoTitle">Helps</p>
  </div>
      <div>
      <ul class="flex-container">
          <li class="flex-item"><img src="../public/html.png" height = "150px"alt="HTML" title="HTML"></li>
          <li class="flex-item"><img src="../public/css.png" height = "150px"alt="CSS" title = "CSS"></li>
          <li class="flex-item"><img src="../public/js.png" height = "150px"alt="JS" title = "Javascript"></li>
          <li class="flex-item"><img src="../public/jquery.png" height = "100px"alt="jQuery & The DOM" title = "jQuery & The DOM"></li>
          <li class="flex-item">JS</li>
          <li class="flex-item">JS</li>
          <li class="flex-item"><img src="../public/knex.png" height = "60px"alt="JS" title = "KNEX"></li>
          <li class="flex-item">JS</li>
          <li class="flex-item">HTML</li>
          <li class="flex-item">CSS</li>
          <li class="flex-item">JS</li>
          <li class="flex-item">CSS</li>
        </ul>
      </div>
      <div class = "sectionDiv">
      <p id = "logoTitle">Interestings</p>
      </div>
</body>
</html>
