<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gForum</title>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="homepage.js" defer></script>
      <link rel="stylesheet" href="/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Mada|Six+Caps|Grand+Hotel" rel="stylesheet">
      <link rel="stylesheet" href="css/animations.css" type="text/css">
  </head>
<body class = "overviewBody">
  <ul class = "navbar" style="list-style: none;">
    <li><a class="active" href="/register">GALVANIZE</a></li>
    <li><a class="active" href="/register">LEARN</a></li>
    <li><a class="active" href="/register">MEMBER</a></li>
    <li><a class="active" href="/register">TALENT</a></li>
    <li><a class="active" href="/register">SLACK</a></li>
    <li><a class="active" href="/register">GITHUB</a></li>
    <li><a class="active" href="/register">TRELLO</a></li>
  </ul>
  <div class = "sectionDiv">
  </div>
  <div class = "sectionDiv">
  <p id = "logoTitle">Helps</p>
  </div>
      <div>
      <ul class="flex-container">
          <li class="flex-item"><img src="../html.png" height = "150px"alt="HTML" title="HTML"></li>
          <li class="flex-item"><img src="../css.png" height = "150px"alt="CSS" title = "CSS"></li>
          <li class="flex-item"><img src="../js.png" height = "150px"alt="JS" title = "Javascript"></li>
          <li class="flex-item"><img src="../jquery.png" height = "100px"alt="jQuery & The DOM" title = "jQuery & The DOM"></li>
          <li class="flex-item"><img src="../ajax.png" height = "100px"alt="AJAX & HTTP Requests" title = "AJAX & HTTP Requests"></li>
          <li class="flex-item"><img src="../node.png" height = "100px"alt="Node JS" title = "Node JS"></li>
          <li class="flex-item"><img src="../express.png" height = "40px"alt="EXPRESS" title = "EXPRESS"></li>
          <li class="flex-item"><img src="../knex.png" height = "60px"alt="KNEX" title = "KNEX"></li>
          <li class="flex-item"><img src="../react.png" height = "60px"alt="React" title = "React"></li>
          <li class="flex-item"><img src="../redux.png" height = "60px"alt="Redux" title = "Redux"></li>
          <li class="flex-item"><img src="../angular.png" height = "50px"alt="Angular" title = "Angular"></li>
          <li class="flex-item"><img src="../vue.png" height = "110px"alt="Vue" title = "Vue"></li>
          <li class="flex-item"><img src="../java.png" height = "100px"alt="Java" title = "Java"></li>
          <li class="flex-item"><img src="../csharp.png" height = "110px"alt="C#" title = "C#"></li>
          <li class="flex-item"><img src="../net.png" height = "100px"alt=".net" title = ".net"></li>
          <li class="flex-item"><img src="../python.png" height = "70px"alt="Python" title = "Python"></li>
          <li class="flex-item"><img src="../django.png" height = "60px"alt="Django" title = "Django"></li>
          <li class="flex-item"><img src="../cs.png" height = "60px"alt="Computer Science" title = "Computer Science"></li>
        </ul>
      </div>
      <div class = "sectionDiv">
      <p id = "logoTitle">Interestings</p>
      </div>
</body>
</html>
