<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gForum</title>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Mada|Six+Caps|Grand+Hotel" rel="stylesheet">
      <link rel="stylesheet" href="css/animations.css" type="text/css">
      <link rel="shortcut icon" href="/titlepic.jpeg">
      <link rel="apple-touch-icon" href="/titlepic.jpeg">
  </head>

<body class = "registerBody">
  <div class = 'registerContainer'>
    <div id = "registerContent">
      <img src = "/galvanize.png" width="200px;">
<br>
      <p id = "logoTitleReg">gForum</p>
      <p id = "logoSubTitle">For All Things Interesting and Helpful</p>
      <form action="/register" method="post" id = "">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email">
        <br>
        <select name="cohort">
                  <option disabled selected>Select Cohort</option>
                 <% for(let i = 0; i < cohorts.length; i++) { %>
                   <option value="<%= cohorts[i].id %>"><%= cohorts[i].name %></option>
                 <% } %>
               </select>
       <br>
        <input type="password" name="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        <button type="submit" class="btn btn-primary btn-block btn-large">Sign me up!</button>
        </form>
        <br>
        <br>
    </div>
  </div>
</body>
</html>
