<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gForum</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="homepage.js" defer></script>
      <link rel="stylesheet" href="/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Mada|Six+Caps|Grand+Hotel" rel="stylesheet">
      <link rel="stylesheet" href="css/animations.css" type="text/css">
      <link rel="shortcut icon" href="/titlepic.jpeg">
      <link rel="apple-touch-icon" href="/titlepic.jpeg">
  </head>
  <ul class = "navbar" style="list-style: none;">
    <li><a class="active" href="/login"><b>-LOG OUT-</b></a></li>
    <li><a class="active" href="https://www.galvanize.com/phoenix">GALVANIZE</a></li>
    <li><a class="active" href="https://learn.galvanize.com/">LEARN</a></li>
    <li><a class="active" href="https://members.galvanize.com/">MEMBER</a></li>
    <li><a class="active" href="https://talent.galvanize.com/">TALENT</a></li>
    <li><a class="active" href="https://gstudents.slack.com/">SLACK</a></li>
    <li><a class="active" href="https://github.com/">GITHUB</a></li>
    <li><a class="active" href="https://trello.com/">TRELLO</a></li>
  </ul>
  <div class = "sectionDiv">
  <p id = "logoTitleMain">Subject: <%= Posts.name %></p>
  </div>
  <div class = "sectionDiv">
  <p id = "logoTitle">Posts</p>
  </div>
</body>
</html>
